In [2]:
#1. Write a program to reverse a string.

string = input()

reversed_string = string[::-1]
reversed_string

45667,

',76654'

In [3]:
#2. Check if a string is a palindrome.
string = input()

original_string = string[::-1]
original_string

if string == original_string:
    print("YES string is palindrome")
    
else :
    print("No it is not palindrome")

malayalam
YES string is palindrome

In [4]:
#3. Convert a string to uppercase.

string = input()

modifed_string = string.upper()

modifed_string

tjjteetje

'TJJTEETJE'

In [5]:
#4. Convert a string to lowercase.
string = input()

modifed_string = string.lower()

modifed_string

FYKDDJ

'fykddj'

In [6]:
#5. Count the number of vowels in a string.

string = input()
vowels = 0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels = vowels + 1
print(vowels)

HRHHRSTJHEYNE EYESYER
5

In [7]:
#6. Count the number of consonants in a string.
string = input()

consonants = 0
for i in string:  
    if(i=='b' or i=='c' or i== 'd' or i=='f' or i=='j' or i=='h' or i=='g' or i=='k' or i=='l' or i=='m' or i=='n'or i=='p' or i=='q' or i=='r' or i=='s' or i=='t' or i=='v' or i=='w' or i=='x' or i=='y' or i=='z'):
        consonants = consonants + 1
print(consonants)

THNDGRNERGHERJRSJ
0

In [8]:
#7. Remove all whitespaces from a string.
sentence = "  hello  apple  "
sentence = "".join(sentence.split())
print(sentence)  # Output: "hello apple"

helloapple

In [9]:
#8. Find the length of a string without using the `len()` function.
string = "Hello pwskills"
lenth = 0
for i in string :
    lenth +=1
print(lenth)

14

In [10]:
#9. Check if a string contains a specific word.
string = "welcome to my world"
word = "world"
if word in string:
    print("Contains the word")
else:
    print("Does not contain the word")

Contains the word

In [11]:
#Replace a word in a string with another word


text = "one one was a race horse, two two was one too."


new_text = text.replace("one", "three", 2)

print(new_text)

three three was a race horse, two two was one too.

In [12]:
#Count the occurrences of a word in a string.

text = "Foundation of data science syllabus introduces you with the fundamental principles and Foundation"
word = "Foundation"
count = text.count(word)
print(count)

2

In [13]:
#Find the first occurrence of a word in a string.

text = "Foundation of data science syllabus introduces you with the fundamental principles and Foundation"
word = "Foundation"
count = text.index(word)
print(count)

0

In [14]:
#Find the last occurrence of a word in a string.

text = "Foundation of data science syllabus introduces you with the fundamental principles and Foundation"
word = "Foundation"
count = text.rindex(word)
print(count)

87

In [15]:
#Split a string into a list of words.

text = "Prabhu ingole"
words = text.split()
print(words)

['Prabhu', 'ingole']

In [16]:
#Join a list of words into a string.
text = ["Prabhu", "ingole"]
words = " ".join(text)
print(words)

Prabhu ingole

In [17]:
#Convert a string where words are separated by spaces to one where words
#are separated by underscores.

def convert_spaces_to_underscores(input_string):
    return input_string.replace(" ", "_")

# Example usage
input_string = "convert this string"
output_string = convert_spaces_to_underscores(input_string)
print(output_string)

convert_this_string

In [18]:
#Check if a string starts with a specific word or phrase.
def starts_with(input_string, prefix):
    return input_string.startswith(prefix)

# Example usage
input_string = "Hello, world!"
prefix = "Hello"
result = starts_with(input_string, prefix)
print(result)  # Output: True

True

In [19]:
#Check if a string ends with a specific word or phrase.
def ends_with(input_string, suffix):
    return input_string.endswith(suffix)

# Example usage
input_string = "Hello, world!"
suffix = "world!"
result = ends_with(input_string, suffix)
print(result)  # Output: True

True

In [20]:
#Convert a string to title case
def to_title_case(input_string):
    return input_string.title()

# Example usage
input_string = "convert this string to title case"
output_string = to_title_case(input_string)
print(output_string)  # Output: Convert This String To Title Case

Convert This String To Title Case

In [21]:
#Find the longest word in a string.
def find_longest_word(input_string):
    words = input_string.split()
    longest_word = max(words, key=len)
    return longest_word

# Example usage
input_string = "Find the longest word in this string"
longest_word = find_longest_word(input_string)
print(longest_word)  # Output: longest

longest

In [22]:
#Find the short word in a string.
def find_longest_word(input_string):
    words = input_string.split()
    longest_word = min(words, key=len)
    return longest_word

# Example usage
input_string = "Find the longest word in this string"
longest_word = find_longest_word(input_string)
print(longest_word)  # Output: longest

in

In [23]:
#Reverse the order of words in a string.
def reverse_words(input_string):
    words = input_string.split()
    reversed_words = words[::-1]
    return ' '.join(reversed_words)

# Example usage
input_string = "Reverse the order of words in this string"
reversed_string = reverse_words(input_string)
print(reversed_string)  # Output: string this in words of order the Reverse

string this in words of order the Reverse

In [24]:
#Check if a string is alphanumeric. 
def is_alphanumeric(input_string):
    return input_string.isalnum()


input_string = "Hello123"
result = is_alphanumeric(input_string)
print(result)  # Output: True

input_string = "Hello 123"
result = is_alphanumeric(input_string)
print(result)  # Output: False

True
False

In [25]:
#Extract all digits from a string.
def extract_digits(input_string):
    return ''.join([char for char in input_string if char.isdigit()])

# Example usage
input_string = "abc123def456"
digits = extract_digits(input_string)
print(digits)  # Output: 123456

123456

In [26]:
#Extract all alphabets from a string.
def extract_alphabets(input_string):
    return ''.join([char for char in input_string if char.isalpha()])

# Example usage
input_string = "abc123def456"
alphabets = extract_alphabets(input_string)
print(alphabets)

abcdef

In [27]:
#Count the number of uppercase letters in a string.
def count_uppercase(input_string):
    return len([char for char in input_string if char.isupper()])

# Example usage
input_string = "Hello World!"
uppercase_count = count_uppercase(input_string)
print(uppercase_count)  # Output: 2

2

In [28]:
#Count the number of lowercase letters in a string.
def count_lowercase(input_string):
    return len([char for char in input_string if char.islower()])

# Example usage
input_string = "Hello World!"
uppercase_count = count_lowercase(input_string)
print(uppercase_count)

8

In [29]:
#swap the case of each incharacter in a string.
def swap_case(input_string):
    return input_string.swapcase()

# Example usage
input_string = "Hello World!"
swapped_string = swap_case(input_string)
print(swapped_string)  # Output: hELLO wORLD!

hELLO wORLD!

In [30]:
#Remove a specific word from a string.
def remove_word(input_string, word_to_remove):
    words = input_string.split()
    words = [word for word in words if word != word_to_remove]
    return ' '.join(words)

# Example usage
input_string = "Hello world, welcome to the world of Python"
word_to_remove = "world"
new_string = remove_word(input_string, word_to_remove)
print(new_string)  # Output: Hello welcome to the of Python

Hello world, welcome to the of Python

In [31]:
#Check if a string is a valid email address.
import re

def is_valid_email(email):
    regex = r'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}$'
    return re.match(regex, email) is not None

# Example usage
email = "example@example.com"
print(is_valid_email(email))  # Output: True

email = "invalid-email"
print(is_valid_email(email))  # Output: False

True
False

In [32]:
#Extract the username from an email address string.
def extract_username(email):
    return email.split('@')[0]

# Example usage
email = "example@example.com"
username = extract_username(email)
print(username)  # Output: example

example

In [33]:
#Extract the domain name from an email address string.
def extract_username(email):
    return email.split('@')[1]

# Example usage
email = "example@example.com"
username = extract_username(email)
print(username)

example.com

In [34]:
#Replace multiple spaces in a string with a single space.
def replace_multiple_spaces(input_string):
    return ' '.join(input_string.split())

# Example usage
input_string = "This   is  a   string   with  multiple   spaces."
output_string = replace_multiple_spaces(input_string)
print(output_string)  # Output: This is a string with multiple spaces.

This is a string with multiple spaces.

In [35]:
#Check if a string is a valid URL.
import re

def is_valid_url(url):
    regex = re.compile(
        r'^(?:http|ftp)s?://'  # http:// or https://
        r'(?:(?:A-Z0-9?\.)+(?:[A-Z]{2,6}\.?|[A-Z0-9-]{2,}\.?)|'  # domain...
        r'localhost|'  # localhost...
        r'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})'  # ...or ip
        r'(?::\d+)?'  # optional port
        r'(?:/?|[/?]\S+)$', re.IGNORECASE)
    return re.match(regex, url) is not None

# Example usage
url = "https://example.com"
print(is_valid_url(url))  # Output: True

url = "invalid-url"
print(is_valid_url(url))  # Output: False

False
False

In [36]:
#Extract the protocol (http or https) from a URL string.

url = "https://www.example.com"
protocol = url.split(':')[0]
print(protocol)

https

In [37]:
#Find the frequency of each character in a string.
from collections import Counter
string = "vigneshwaranbs"
character_frequency = Counter(string)
print(character_frequency)

Counter({'n': 2, 's': 2, 'a': 2, 'v': 1, 'i': 1, 'g': 1, 'e': 1, 'h': 1, 'w': 1, 'r': 1, 'b': 1})

In [38]:
#Remove all punctuation from a string.
import string

def remove_punctuation(input_string):
    return input_string.translate(str.maketrans('', '', string.punctuation))

# Example usage
input_string = "Hello, world! How's it going?"
clean_string = remove_punctuation(input_string)
print(clean_string)  # Output: Hello world Hows it going

Hello world Hows it going

In [39]:
#Check if a string contains only digits.
string = "1sfa2345"
if string.isdigit():
    print("Contains only digits")
else:
    print("Contains non-digit characters")

Contains non-digit characters

In [40]:
#Check if a string contains only alphabets.
string = "vigneshwaran"
if string.isalpha():
    print("Contains only alphabets")
else:
    print("Contains non-alphabet characters")

Contains only alphabets

In [41]:
#Check if a string contains only alphabets.
string = "vwgnjwonwon"
char_list = list(string)
print(char_list)

['v', 'w', 'g', 'n', 'j', 'w', 'o', 'n', 'w', 'o', 'n']

In [42]:
#Check if two strings are anagrams.
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

# Example usage
str1 = "listen"
str2 = "silent"
print(are_anagrams(str1, str2))  # Output: True

str1 = "hello"
str2 = "world"
print(are_anagrams(str1, str2))  # Output: False

True
False

In [43]:
#Encode a string using a Caesar cipher.
def caesar_cipher(input_string, shift):
    result = ""
    for char in input_string:
        if char.isalpha():
            shift_amount = shift % 26
            if char.islower():
                result += chr((ord(char) - ord('a') + shift_amount) % 26 + ord('a'))
            elif char.isupper():
                result += chr((ord(char) - ord('A') + shift_amount) % 26 + ord('A'))
        else:
            result += char
    return result

# Example usage
input_string = "Hello, World!"
shift = 3
encoded_string = caesar_cipher(input_string, shift)
print(encoded_string)  # Output: Khoor, Zruog!

Khoor, Zruog!

In [44]:
#Decode a Caesar cipher encoded string.
def decode_caesar_cipher(encoded_string, shift):
    result = ""
    for char in encoded_string:
        if char.isalpha():
            shift_amount = shift % 26
            if char.islower():
                result += chr((ord(char) - ord('a') - shift_amount) % 26 + ord('a'))
            elif char.isupper():
                result += chr((ord(char) - ord('A') - shift_amount) % 26 + ord('A'))
        else:
            result += char
    return result

# Example usage
encoded_string = "Khoor, Zruog!"
shift = 3
decoded_string = decode_caesar_cipher(encoded_string, shift)
print(decoded_string)  # Output: Hello, World!

Hello, World!

In [45]:
#Find the most frequent word in a string.
from collections import Counter

def most_frequent_word(input_string):
    words = input_string.split()
    word_counts = Counter(words)
    most_common_word, _ = word_counts.most_common(1)[0]
    return most_common_word

# Example usage
input_string = "apple banana apple orange banana apple"
most_common_word = most_frequent_word(input_string)
print(most_common_word)  # Output: apple

apple

In [46]:
#Find all unique words in a string.
def unique_words(input_string):
    words = input_string.split()
    unique = set(words)
    return unique

# Example usage
input_string = "apple banana apple orange banana apple"
unique = unique_words(input_string)
print(unique)  # Output: {'banana', 'orange', 'apple'}

{'orange', 'apple', 'banana'}

In [47]:
#Count the number of syllables in a string.
import re

def count_syllables(input_string):
    words = input_string.split()
    syllable_count = 0
    for word in words:
        word = word.lower()
        word = re.sub(r'[^a-z]', '', word)  # Remove non-alphabetic characters
        syllable_count += len(re.findall(r'[aeiouy]+', word))
    return syllable_count

# Example usage
input_string = "This is an example sentence."
syllables = count_syllables(input_string)
print(syllables)  # Output: 8

9

In [48]:
#Check if a string contains any special characters.
import re

def contains_special_characters(s):
    # Define a regex pattern for special characters
    pattern = re.compile(r'[^a-zA-Z0-9]')
    # Search for the pattern in the string
    return bool(pattern.search(s))

# Example usage
string = "Hello@World!"
print(contains_special_characters(string))  # Output: True

True

In [49]:
#Remove the nth word from a string.
def remove_nth_word(s, n):
    # Split the string into a list of words
    words = s.split()
    
    # Check if n is within the range of the list
    if 0 <= n < len(words):
        # Remove the nth word
        del words[n]
    
    # Join the list back into a string
    return ' '.join(words)

# Example usage
string = "The quick brown fox jumps over the lazy dog"
n = 3
print(remove_nth_word(string, n))  # Output: "The quick brown jumps over the lazy dog"

The quick brown jumps over the lazy dog

In [50]:
#Insert a word at the nth position in a string.
def insert_word_at_nth_position(s, word, n):
    # Split the string into a list of words
    words = s.split()
    
    # Insert the new word at the nth position
    words.insert(n, word)
    
    # Join the list back into a string
    return ' '.join(words)

# Example usage
string = "The quick brown fox jumps over the lazy dog"
word = "clever"
n = 2
print(insert_word_at_nth_position(string, word, n))  # Output: "The quick clever brown fox jumps over the lazy dog"

The quick clever brown fox jumps over the lazy dog

In [51]:
#Convert a CSV string to a list of lists.
import csv
from io import StringIO

def csv_string_to_list_of_lists(csv_string):
    # Use StringIO to treat the CSV string as a file
    f = StringIO(csv_string)
    reader = csv.reader(f, delimiter=',')
    
    # Convert the CSV reader object to a list of lists
    return list(reader)

# Example usage
csv_string = "name,age,city\nAlice,30,New York\nBob,25,Los Angeles\nCharlie,35,Chicago"
result = csv_string_to_list_of_lists(csv_string)
print(result)
# Output: [['name', 'age', 'city'], ['Alice', '30', 'New York'], ['Bob', '25', 'Los Angeles'], ['Charlie', '35', 'Chicago']]

[['name', 'age', 'city'], ['Alice', '30', 'New York'], ['Bob', '25', 'Los Angeles'], ['Charlie', '35', 'Chicago']]

In [52]:
# List Based Practice Problem

In [53]:
#Create a list with integers from 1 to 10
list_10 =list(range(1,11))
list_10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
#Find the length of a list without using the `len()` function
integer_list = [1, 2, 3, 4, 5]
length = sum(1 for _ in integer_list)
print(length)

5

In [55]:
#Append an element to the end of a list.
list_10.append(11)

In [56]:
list_10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [57]:
#nsert an element at a specific index in a list
integer_list = [1, 2, 3, 4, 5]
integer_list.insert(2, 10)
print(integer_list)

[1, 2, 10, 3, 4, 5]

In [58]:
#Remove an element from a list by its value
integer_list = [1, 2, 3, 4, 5]
integer_list.remove(3)
print(integer_list)

[1, 2, 4, 5]

In [59]:
# Remove an element from a list by its index
integer_list = [1, 2, 3, 4, 5]
integer_list.pop(3)
print(integer_list)

[1, 2, 3, 5]

In [60]:
#check if an element exists in a list.
integer_list = [1, 2, 3, 4, 5]
element=5
if element in integer_list:
    print("yes")
else:
    print("no")

yes

In [61]:
# Find the index of the first occurrence of an element in a list
integer_list = [1, 2, 3, 4, 5, 3]
element = 3
index = integer_list.index(element)
print(index)

2

In [62]:
# Count the occurrences of an element in a list.
integer_list = [1, 2, 3, 4, 5, 3]
element = 1
count = integer_list.count(element)
print(count)

1

In [63]:
# Reverse the order of elements in a list.
integer_list = [1, 2, 3, 4, 5, 3]
count = integer_list[::-1]
print(count)

[3, 5, 4, 3, 2, 1]

In [64]:
#Sort a list in ascending order.
integer_list = [5, 2, 8, 1, 9]
sorted_list = sorted(integer_list)
print(sorted_list)

[1, 2, 5, 8, 9]

In [65]:
# Sort a list in descending order.
integer_list = [5, 2, 8, 1, 9]
sorted_list = sorted(integer_list,reverse=True)
print(sorted_list)

[9, 8, 5, 2, 1]

In [66]:
# Create a list of even numbers from 1 to 20.
even_list = [x for x in range(1, 21) if x % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [67]:
#create a list of odd numbers from 1 to 20
even_list = [x for x in range(1, 21) if x % 2 == 1]
print(even_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [68]:
#Find the sum of all elements in a list.
integer_list = [5, 2, 8, 1, 9]
sumlist= sum(integer_list)

In [69]:
sumlist

25

In [70]:
# Find the maximum value in a list.
maxvalue=max(integer_list)
maxvalue

9

In [71]:
# Find the minimum value in a list.
minvalue = min(integer_list)
minvalue

1

In [72]:
#. Create a list of squares of numbers from 1 to 10
squares_list = [x**2 for x in range(1, 11)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
#create a list of random numbers.
import random
random_list = [random.randint(1, 100) for _ in range(10)]
print(random_list)

[52, 4, 83, 18, 60, 44, 29, 86, 33, 16]

In [74]:
# Remove duplicates from a list
integer_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(integer_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [75]:
#find the common elements between two lists
list1= [1,5,8,6,4,0,1]
list2=[5,6,7,4,2,5,9,0]
common = list(set(list1) & set(list2))
common

[0, 4, 5, 6]

In [76]:
#. Find the difference between two lists
list1= [1,5,8,6,4,0,1]
list2=[5,6,7,4,2,5,9,0]
common = list(set(list1) - set(list2))
common

[8, 1]

In [77]:
#. Merge two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [78]:
#. Multiply all elements in a list by 2
integer_list = [1, 2, 3, 4, 5]
doubled_list = [x * 2 for x in integer_list]
print(doubled_list)

[2, 4, 6, 8, 10]

In [79]:
#Filter out all even numbers from a list.
integer_list = [1, 2, 3, 4, 5, 6]
filtered_list = [x for x in integer_list if x % 2 != 0]
print(filtered_list)

[1, 3, 5]

In [80]:
# Convert a list of strings to a list of integers.
integer_list = [1, 2, 3, 4, 5]
string_list = [str(x) for x in integer_list]
print(string_list)

['1', '2', '3', '4', '5']

In [81]:
# Flatten a nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [x for sublist in nested_list for x in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
# Create a list of the first 10 Fibonacci numbers
def fibonacci(n):
    fib_list = [0, 1]
    while len(fib_list) < n:
        fib_list.append(fib_list[-1] + fib_list[-2])
    return fib_list

n = 10
fibonacci_list = fibonacci(n)
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [83]:
# Check if a list is sorted.
integer_list = [1, 2, 3, 14, 5]
is_sorted = all(integer_list[i] <= integer_list[i+1] for i in range(len(integer_list)-1))
print(is_sorted)

False

In [84]:
#. Rotate a list to the left by `n` positions.
def rotate_list_left(lst, n):
    # Ensure n is within the bounds of the list length
    n = n % len(lst)
    return lst[n:] + lst[:n]

# Example usage
my_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list_left(my_list, 2)
print(rotated_list)  # Output: [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

In [85]:
#Rotate a list to the right by `n` positions.
def rotate_left(lst, n):
    n = n % len(lst)
    rotated_list = lst[n:] + lst[:n]
    return rotated_list

integer_list = [1, 2, 3, 4, 5]
n = 3
rotated_list = rotate_left(integer_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

In [86]:
#Create a list of prime numbers up to 50
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

prime_list = [num for num in range(2, 51) if is_prime(num)]
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [87]:
#. Split a list into chunks of size `n`.
def split_into_chunks(integer_list,chunk_size):
    return [integer_list[i:i+n] for i in range(0, len(integer_list), n)]

integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunked_list = split_into_chunks(integer_list, chunk_size)
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [88]:
#. Find the second largest number in a list.
integer_list = [5, 2, 8, 1, 9]
sorted_list = sorted(integer_list)
second_largest = sorted_list[-2]
sorted_list
print(second_largest)

8

In [89]:
#. Replace every element in a list with its square.
integer_list = [1, 2, 3, 4, 5]
squared_list = [x ** 2 for x in integer_list]
print(squared_list)

[1, 4, 9, 16, 25]

In [90]:
#. Convert a list to a dictionary where list elements become keys and their
#indices become values.
def list_to_dict(lst):
    return {element: index for index, element in enumerate(lst)}

# Example usage
my_list = ['a', 'b', 'c', 'd']
result_dict = list_to_dict(my_list)
print(result_dict)  # Output: {'a': 0, 'b': 1, 'c': 2, 'd': 3}

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [91]:
# Shuffle the elements of a list randomly
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[3, 1, 2, 4, 5]

In [92]:
#. Create a list of the first 10 factorial numbers
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

factorial_list = [factorial(i) for i in range(10)]
print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [93]:
#. Check if two lists have at least one element in common.
def have_common_elements(list1, list2):
    return any(element in list2 for element in list1)

list1 = [1, 2, 3]
list2 = [3, 4, 5]
has_common = have_common_elements(list1, list2)
print(has_common)

True

In [94]:
#. Remove all elements from a list.
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

In [95]:
#Replace negative numbers in a list with 0.
my_list = [1, -2, 3, -4, 5]
my_list = [0 if num < 0 else num for num in my_list]
print(my_list)

[1, 0, 3, 0, 5]

In [96]:
# Convert a string into a list of words
sentence = "This is a sentence."
word_list = sentence.split()
print(word_list)

['This', 'is', 'a', 'sentence.']

In [97]:
# Convert a list of words into a string.
word_list = ["Hello", "world"]
sentence = " ".join(word_list)
print(sentence)

Hello world

In [98]:
# Create a list of the first `n` powers of 2
n = 5
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

In [99]:
# Find the longest string in a list of strings
string_list = ["apple", "banana", "cherry"]
longest_string = max(string_list, key=len)
print(longest_string)

banana

In [100]:
# Find the shortest string in a list of strings.
string_list = ["apple", "banana", "cherry"]
longest_string = min(string_list, key=len)
print(longest_string)

apple

In [101]:
# Create a list of the first `n` triangular numbers
n = 5
triangular_numbers = [i * (i + 1) // 2 for i in range(n)]
print(triangular_numbers)

[0, 1, 3, 6, 10]

In [102]:
#. Check if a list contains another list as a subsequence
def is_subsequence(sublist, list_to_check):
    n = len(sublist)
    return any(sublist == list_to_check[i:i + n] for i in range(len(list_to_check) - n + 1))

list1 = [1, 2, 3, 4, 5]
list2 = [0, 1, 2, 3, 4, 5, 6, 7]
is_subseq = is_subsequence(list1, list2)
print(is_subseq)

True

In [103]:
# Swap two elements in a list by their indices
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]
my_list = [1, 2, 3, 4, 5]
index1 = 1  
index2 = 3 
swap_elements(my_list, index1, index2)
print(my_list)

[1, 4, 3, 2, 5]

In [104]:
#Tuple Based Practice Problem

In [105]:
#Create a tuple with integers from 1 to 5.
tuple_1 = (1, 2, 3, 4, 5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [106]:
#access the third element of a tuple.
element_3 = tuple_1[2]
print(element_3)

3

In [107]:
#. Find the length of a tuple without using the `len()` function
length_tuple = sum(1 for _ in tuple_1)
print(length_tuple)

5

In [108]:
#. Count the occurrences of an element in a tuple.
count_3 = tuple_1.count(3)
print(count_3)

1

In [109]:
#Find the index of the first occurrence of an element in a tuple

# Define a tuple
my_tuple = (1, 2, 3, 2, 4, 2, 5)

# Find the index of the first occurrence of the element 2
index = my_tuple.index(2)

print(index)  # Output: 1

1

In [110]:
# Check if an element exists in a tuple.
element_exist = 3 in tuple_1
element_exist

True

In [111]:
# Convert a tuple to a list
list_from_tuple = list(tuple_1)
print(list_from_tuple)

[1, 2, 3, 4, 5]

In [112]:
#. Convert a list to a tuple
tuple_from_list = tuple(list_from_tuple)
print(tuple_from_list)

(1, 2, 3, 4, 5)

In [113]:
 #Unpack the elements of a tuple into variables.

a, b, c, d, e = tuple_1
print(a, b, c, d, e)

1 2 3 4 5

In [114]:
# Create a tuple of even numbers from 1 to 10.
even_tuple = tuple(range(2, 11, 2))
print(even_tuple)

(2, 4, 6, 8, 10)

In [115]:
#Create a tuple of odd numbers from 1 to 10.
even_tuple = tuple(range(1, 11, 2))
print(even_tuple)

(1, 3, 5, 7, 9)

In [116]:
#Concatenate two tuples.
concatenated_tuple = tuple_1 + even_tuple
print(concatenated_tuple)

(1, 2, 3, 4, 5, 1, 3, 5, 7, 9)

In [117]:
# Repeat a tuple three times.
repeated_tuple = tuple_1 * 3
print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [118]:
# Check if a tuple is empty.
empty_tuple = ()
is_empty = len(empty_tuple) == 0
print(is_empty)

True

In [119]:
#Create a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(n Delete a tuple.nested_tuple)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (136225084.py, line 3)

In [ ]:
#Access the first element of a nested tuple.
first_element = nested_tuple[0][0]
print(first_element)

In [ ]:
#. Create a tuple with a single element.
single_element_tuple = (42,)
print(single_element_tuple)

In [ ]:
# Compare two tuples.
comparison_result = tuple_1 == even_tuple
print(comparison_result)

In [ ]:
# Delete  tuple
del nested_tuple
nested_tuple

In [ ]:
#. Slice a tuple
sliced_tuple = tuple_1[1:4]
print(sliced_tuple)

In [ ]:
# Find the maximum value in a tuple.
max_value = max(tuple_1)
print(max_value)

In [ ]:
# Find the minimum value in a tuple.
max_value = min(tuple_1)
print(max_value)

In [ ]:
# Convert a string to a tuple of characters.
string_to_tuple = tuple("vicky")
print(string_to_tuple)

In [ ]:
#convert a tuple of characters to a string.
tuple_to_string = "".join(string_to_tuple)
print(tuple_to_string)

In [ ]:
#Create a tuple from multiple data types.

mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

In [ ]:
# Check if two tuples are identical.
are_identical = tuple_1 == even_tuple
print(are_identical)

In [ ]:
#Sort the elements of a tuple.
sorted_tuple = tuple(sorted(repeated_tuple))
print(sorted_tuple)

In [ ]:
# Convert a tuple of integers to a tuple of strings.
int_tuple = (1, 2, 3)
str_tuple = tuple(str(x) for x in int_tuple)
print(str_tuple)

In [ ]:
#Convert a tuple of strings to a tuple of integers.
str_tuple  = ('1', '2', '3')
int_tuple = tuple(int(x) for x in str_tuple)
print(int_tuple)

In [ ]:
# Merge two tuples
merged_tuple = tuple_1 + even_tuple
print(merged_tuple)

In [ ]:
# Flatten a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(x for sub_tuple in nested_tuple for x in sub_tuple)
print(flattened_tuple)

In [ ]:
# Create a tuple of the first 5 prime numbers
prime_tuple = (2, 3, 5, 7, 11)
print(prime_tuple)

In [ ]:
# Check if a tuple is a palindrome.
is_palindrome = tuple_1 == tuple_1[::-1]
print(is_palindrome)

In [ ]:
#. Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print(squares_tuple)

In [ ]:
#Filter out all even numbers from a tuple.
filtered_tuple = tuple(x for x in tuple_1 if x % 2 != 0)
print(filtered_tuple)

In [ ]:
#Multiply all elements in a tuple by 2.
multiplied_tuple = tuple(x * 2 for x in tuple_1)
print(multiplied_tuple)

In [ ]:
#Create a tuple of random numbers.
import random
random_tuple = tuple(random.randint(1, 10) for _ in range(5))
print(random_tuple)

In [ ]:
# Check if a tuple is sorted.
is_sorted = all(tuple_1[i] <= tuple_1[i + 1] for i in range(len(tuple_1) - 1))
print(is_sorted)

In [ ]:
#Rotate a tuple to the left by `n` positions.
n = 2
rotated_left_tuple = tuple_1[n:] + tuple_1[:n]
print(rotated_left_tuple)

In [ ]:
# Rotate a tuple to the right by `n` positions.
rotated_right_tuple = tuple_1[-n:] + tuple_1[:-n]
print(rotated_right_tuple)

In [ ]:
# Create a tuple of the first 5 Fibonacci numbers.
fibonacci_tuple = (0, 1)
while len(fibonacci_tuple) < 5:
    next_fibonacci = fibonacci_tuple[-1] + fibonacci_tuple[-2]
    fibonacci_tuple += (next_fibonacci,)
print(fibonacci_tuple)

In [ ]:
# Create a tuple from user input
user_input = input("Enter elements separated by commas: ")
user_tuple = tuple(map(int, user_input.split(',')))
print(user_tuple)

In [ ]:
#. Swap two elements in a tuple.
tuple_to_swap = (1, 2, 3, 4, 5)
swap_indices = 1, 3
tuple_list = list(tuple_to_swap)
tuple_list[swap_indices[0]], tuple_list[swap_indices[1]] = tuple_list[swap_indices[1]], tuple_list[swap_indices[0]]
swapped_tuple = tuple(tuple_list)
print(swapped_tuple)

In [120]:
# Reverse the elements of a tuple.
reversed_tuple = tuple_1[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [121]:
# Create a tuple of the first `n` powers of 2.
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

In [122]:
# Find the longest string in a tuple of strings.
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")
longest_string = max(string_tuple, key=len)
print(longest_string)

elderberry

In [123]:
#Find the shortest string in a tuple of strings
shortest_string = min(string_tuple, key=len)
print(shortest_string)

date

In [124]:
# Create a tuple of the first `n` triangular numbers.
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

In [125]:
# Check if a tuple contains another tuple as a subsequence.
sub_tuple = (3, 4)
contains_subsequence = any(sub_tuple == tuple_1[i:i+len(sub_tuple)] for i in range(len(tuple_1) - len(sub_tuple) + 1))
print(contains_subsequence)

True

In [127]:
# Create a tuple of alternating 1s and 0s of length `n`n = 8
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1)

# SET BASED PRACTICE PROBLEM

In [128]:
# Create a set with integers from 1 to 5.
my_set = set(range(1, 6))
print(my_set)

{1, 2, 3, 4, 5}

In [130]:
#Add an element to a set.

my_set.add(6)

In [131]:
my_set

{1, 2, 3, 4, 5, 6}

In [132]:
# Remove an element from a set.
my_set.remove(2)
print(my_set)

{1, 3, 4, 5, 6}

In [133]:
# Check if an element exists in a set.
element_exists = 3 in my_set
print(element_exists)

True

In [135]:
 #Find the length of a set without using the `len()` function.
set_length = sum(1 for _ in my_set)
print(set_length)

5

In [136]:
#Clear all elements from a set.
my_set.clear()
print(my_set)

set()

In [137]:
#. Create a set of even numbers from 1 to 10
even_set = set(i for i in range(2, 11, 2))
print(even_set)

{2, 4, 6, 8, 10}

In [138]:
#Create a set of odd numbers from 1 to 10.
odd_set = set(i for i in range(1, 11, 2))
print(odd_set)

{1, 3, 5, 7, 9}

In [139]:
#Find the union of two sets
set1 = set(range(1, 6))
set2 = set(range(5, 10))
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [140]:

# Find the intersection of two sets
intersection_set = set1.intersection(set2)
print(intersection_set)

{5}

In [142]:
# Find the difference between two sets
difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 3, 4}

In [144]:
# Check if a set is a subset of another set
is_subset = set1.issubset(set2)
print(is_subset)

False

In [145]:
# Check if a set is a superset of another set
is_subset = set1.issuperset(set2)
print(is_subset)

False

In [146]:
# Create a set from a list.
list_to_set = set(set1)
print(list_to_set)

{1, 2, 3, 4, 5}

In [148]:
#. Convert a set to a list.
set_to_list = list(set2)
print(set_to_list)
type(set_to_list)

[5, 6, 7, 8, 9]

list

In [149]:
# Remove a random element from a set.
random_element = set2.pop()
print(random_element)

5

In [150]:
# Pop an element from a set
element_to_pop = 1
set1.discard(element_to_pop)
print(set1)

{2, 3, 4, 5}

In [152]:
#Check if two sets have no elements in common.
no_common_elements = set1.isdisjoint(set2)
print(no_common_elements)

True

In [153]:
#. Find the symmetric difference between two sets.
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{2, 3, 4, 5, 6, 7, 8, 9}

In [154]:
#Update a set with elements from another set.
set1.update(set2)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9}

In [156]:
#Create a set of the first 5 prime numbers.
prime_set = {2, 3, 5, 7, 11}
print(prime_set)

{2, 3, 5, 7, 11}

In [157]:
#Check if two sets are identical.
are_identical = set1 == set2
print(are_identical)

False

In [158]:
# Create a frozen set.
frozen_set = frozenset(set2)
print(frozen_set)

frozenset({8, 9, 6, 7})

In [159]:
# Check if a set is disjoint with another set.
are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

False

In [160]:
# Create a set of squares of numbers from 1 to 5.
squares_set = {x ** 2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [161]:
#Filter out all even numbers from a set.
filtered_set = {x for x in set1 if x % 2 != 0}
print(filtered_set)

{9, 3, 5, 7}

In [162]:
# Multiply all elements in a set by 2.
doubled_set = {x * 2 for x in set1}
print(doubled_set)

{4, 6, 8, 10, 12, 14, 16, 18}

In [163]:
#. Create a set of random numbers
import random 
random_set = {random.randint(1, 100) for _ in range(10)}
print(random_set)

{98, 4, 69, 71, 73, 79, 52, 53, 91}

In [164]:
# Check if a set is empty
is_empty = len(set2) == 0
print(is_empty)

False

In [165]:
# Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [166]:
# Remove an element from a set using the discard method.
element_to_discard = 3
set1.discard(element_to_discard)
print(set1)

{2, 4, 5, 6, 7, 8, 9}

In [167]:
#. Compare two sets.
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
is_equal = set1 == set2
print(is_subset, is_superset, is_equal)

False True False

In [168]:
# Create a set from a string.
string_to_set = set("vigneshwaran")
print(string_to_set)

{'g', 'i', 'e', 'h', 'a', 'v', 'n', 'w', 's', 'r'}

In [169]:
#. Convert a set of strings to a set of integers
string_set = {"1", "2", "3", "4", "5"}
int_set = {int(x) for x in string_set}
print(int_set)

{1, 2, 3, 4, 5}

In [170]:
# Convert a set of integers to a set of strings.
int_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in int_set}
print(string_set)

{'5', '3', '4', '2', '1'}

In [171]:
# Create a set from a tuple
tuple_to_set = set(int_set)
print(tuple_to_set)

{1, 2, 3, 4, 5}

In [172]:
# Convert a set to a tuple.
set_to_tuple = tuple(set2)
print(set_to_tuple)

(6, 7, 8, 9)

In [173]:
# Find the maximum value in a set.
max_value = max(set1)
print(max_value)

9

In [174]:
# Find the minimum value in a set.
min_value = min(set2)
min_value

6

In [175]:

# Create a set from user input
input_set = set(input("Enter elements separated by spaces: ").split())
print(input_set)

Enter elements separated by spaces: xmzdtmzdmdmdzmzd
{'xmzdtmzdmdmdzmzd'}

In [176]:
#Check if the intersection of two sets is empty.
intersection_empty = set1.isdisjoint(set2)
print(intersection_empty)

False

In [177]:
# Create a set of the first 5 Fibonacci numbers.
def fibonacci_numbers(num):
	if num == 0:
		return 0
	elif num == 1:
		return 1
	else:
		return fibonacci_numbers(num-2)+fibonacci_numbers(num-1)
n = 7
for i in range(0, n):
	print(fibonacci_numbers(i), end=" ")

0 1 1 2 3 5 8

In [178]:
# Remove duplicates from a list using sets
list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
deduplicated_list = list(set(list_with_duplicates))
print(deduplicated_list)

[1, 2, 3, 4, 5]

In [179]:
#list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
deduplicated_list = list(set(list_with_duplicates))
print(deduplicated_list)

[1, 2, 3, 4, 5]

In [181]:
# Create a set of the first `n` powers of 2.
def powers_of_two(n):
    return {2**i for i in range(n)}

# Example usage:
n = 5
print(powers_of_two(n))

{1, 2, 4, 8, 16}

In [182]:
#Find the common elements between a set and a list.
same_elements = set1 == set2
print(same_elements)

False

In [183]:
#Create a set of the first `n` triangular numbers.
n = 5
triangular_numbers_set = {(i * (i + 1)) // 2 for i in range(1, n + 1)}
print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [184]:
#Check if a set contains another set as a subset.
common_elements = set1.intersection(set1)
print(common_elements)

{2, 4, 5, 6, 7, 8, 9}

In [185]:
#Create a set of alternating 1s and 0s of length `n`.
n = 8
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

In [186]:
# Merge multiple sets into one.\
set3 = {12,13,14,15,16}
merged_set = set1.union(set2, set3)
print(merged_set)

{2, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16}